//colors
$primary: #161e54;
$light-grey: #a3abcc;
$white: #fff;
$border-grey: #c5cbe0;
$medium-blue: #2f3a8f;
$medium-orange: #ee6f57;

//sizes
$small10: 10px;
$small: 12px;
$medium: 14px;
$medium16: 16px;
$medium20: 20px;
$large: 24px;
$large28: 28px;
$large32: 32px;
$large36: 36px;
